@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  h1 {
    @apply font-dm-sans font-bold text-[40px] leading-[48px] tracking-[4.16667px] uppercase text-pure-black;
  }

  h2 {
    @apply font-dm-sans font-bold text-[24px] leading-[25px] text-pure-black;
  }

  h3 {
    @apply font-dm-sans font-bold text-[18px] leading-[25px] text-pure-black;
  }

  h4 {
    @apply font-dm-sans font-bold text-[12px] leading-[16px] tracking-[2px] uppercase text-pure-black;
  }

  .ptext {
    @apply font-dm-sans font-normal text-[15px] leading-[25px] text-pure-black;
  }

  .custom-space {
    @apply max-w-[1440px] mx-auto px-[1.8rem];
  }
}
